<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="au.appxperts.ga.mapsurvey">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".GAApp"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.HomeActivity"
            android:label="@string/title_activity_home" />
        <activity android:name=".activity.FileManagementActivity" />
        <activity android:name=".activity.ExportActivity" />
        <activity android:name=".activity.ImportActivity" />
        <activity android:name=".activity.DisplayDataBundleActivity" />
        <activity android:name=".activity.StartSurveyActivity" />
        <activity android:name=".activity.PackageDataPoints" />
        <activity android:name=".activity.SuccessfulPackageOperationActivity" />
        <activity android:name=".activity.ExportDataPackageActivity" />
        <activity android:name=".activity.ImportSurveyedDataPointsActivity" />
        <activity android:name=".activity.ManageGpsTrackActivity" />
        <activity android:name=".activity.ManagedGpsTrackActivity" />
        <activity android:name=".activity.StartSurveyInChoices" />
        <activity
            android:name=".activity.PopulateTemplateActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:name=".activity.PointPhotos" />
    </application>

</manifest>
